---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Contact from "../components/Contact.astro";
import { Image } from "astro:assets";

import Yehoward_Photo from "../assets/yehoward-CV.jpg"
---


<BaseLayout title="CURRICULUM VITAE">
  
  <div ><a href="/cv_en" class="btn btn-ghost">EN</a></div>

  <Contact image={Yehoward_Photo}>
      
    <div class="flex justify-center mb-5">
      <div class="flex flex-col text-center mr-3">
        <span class="text-xl"><strong>Yehoward</strong></span>
        <span class="text-accent mr-4 mt-[-10px] text-sm"><i>prenume</i>  </span>
      </div>
      <div class="flex flex-col text-center">
        <span class="text-xl"><strong>Rudenco</strong></span>
        <span class="text-accent mr-4 mt-[-10px] text-sm"><i>nume</i>  </span>
      </div>
    </div>

    <div class="flex flex-col mb-4 text-center">
      <div><span class="text-accent text-sm"><i>născut:</i> </span> <span>5 aprilie 2006</span></div>
      <div><span class="text-accent text-sm"><i>loc natal:</i> </span> <span>Cotiujeni, Moldova</span></div>
    </div>

    <div class="text-center">

      <div>
        <div class="btn btn-accent btn-xs btn-outline normal-case mb-2">
          <a 
            href="mailto:yehowardtudenco@gmail.com" 
          >
            <i class="nf nf-md-email"></i> E-Poșta
          : rudencoyehoward@gmail.com
          </a>
        </div>
      </div>

      <div>
        <div class="btn btn-secondary btn-xs btn-outline normal-case">
          <a href="https://t.me/YeRudITea" >
            <i class="nf nf-fa-telegram"></i> Telegram
          : @YeRudITea
          </a>
        </div>
      </div>
    </div>
  </Contact>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profil</div>
  </div>

  <div class="mb-10 text-justify">
    Un student harnic și staruitor al <strong><a href="https://unitbv.ro">Universității Transilvania din Brașov</a></strong>.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educație</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Dansuri moderne și tradiționale"
      subtitle="2014 -- 2021 Școala de arte, Briceni, Republica Moldova"
    />
    <TimeLineElement
      title="Studii Liceale"
      subtitle="din 2021 -- 2024 Liceul Teoretic 'Gr. Vieru', Briceni, Republica Moldova"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiență</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Dansator"
      subtitle="2014 -- 2024 Studioul de Dansuri 'Capriciu', Briceni, Republica Moldova"
      desc="Am dansat la diferite festivități locale și naționale."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Premii</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
<li>
      <h2 class="text-xl mb-5"><a href="/blog/ai">Tekwill Junior Ambasadors: Categoria AI</a></h2>
      <div class="">
        <img src="/img/iazar/locul-2.png" alt="Locul 2 Tekwill" class="w-fit">
        <h2 class="text-3xl mb-5 text-center font-bold mt-4">Locul 2</h2>
      </div>
    </li>
    <li>
      <h2 class="text-xl mb-5">Olimpiezi:</h2>
      <div class="w-fit mx-auto">
        <div class="w-fit text-center flex flex-col">
          <div class="flex flex-row gap-6 w-fit mx-auto">
            <img 
              src="/olimpics-informatics-2023.jpg" 
              alt="Locul 3 Olimpiada raională la Informatică 2023" class="w-auto h-52">

            <img src="/img/2024-info-dip.jpg" alt="Locul 3 Olimpiada raională la Informatică 2024" class="w-auto h-52">
            <img src="/diploma_olimpiada_2022.jpg" alt="Locul 3 Olimpiada raională la Informatică 2022" class="w-auto h-52">
          </div>

          <strong>Locul 3 </strong>
          <br>
          <span>Olimpiada raională la Informatică 2022-24</span> 
          <h2 class="font-bold">ETC...</h2>

        </div>


      </div>
    </li>

  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Competențe</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Romîna (Nativ)</li>
    <li>Engleza (B2)</li>
    <li>Rusu (B2)</li>
    <li>Chitară</li>
    <li>FOSS</li>
    <li>NeoVim</li>
    <li>GNU/Linux</li>
    <li>Shell script (bash, fish)</li>
    <li>Python</li>
    <li>HTML</li>
    <li>MarkDown</li>
    <li>LibreOffice</li>
    <li>GIMP</li>
    <li>Regele Memurilor</li>
  </ul>
</BaseLayout>
