---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import proiecte from "./proiecte.json"

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Noroc!</div>
      <div class="text-5xl font-bold">Sunt Yehoward RUDENCO</div>
      <div class="text-3xl py-3 font-bold">Student al Universității Transilvania din Brașov</div>
      <div class="py-2">Ăsta-i saitul meu. Aici eu țin proiecte, teme, etc.</div>
      <div class="mt-8">
        <!-- <a class="btn" href="https://nitter.net/manuelernestog" target="_blank"> Let's connect!</a> -->
        <a href="mailto:yehowardtudenco@gmail.com" class="ml-2 btn btn-accent btn-outline normal-case">E-Poșta</a>
        <a href="https://t.me/YeRudITea" class="ml-2 btn btn-secondary btn-outline normal-case">Telegram</a>

      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">Ultemele Wloguri</div>
    </div>

    {
      last_posts.map(({data, slug}) => (
        <HorizontalCard
          title={data.title}
          img={data.heroImage}
          desc={data.description}
          url={"/blog/" + slug}
          target="_self"
          badge={data.badge}
        />
        <div class="divider my-0"></div>
      ))
    }

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Proiecte recente</div>
    </div>

{
    proiecte.map(({ title, img, desc, url, badge }) => {
      return (
        <>
          <HorizontalCard
            title={title}
            img={img}
            desc={desc}
            url={url}
            badge={badge}
          />
          <div class="divider my-0" />
        </>
      );
    })
  }


</BaseLayout>
