---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

import proiecte from "./proiecte.json";
---

<BaseLayout title="Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Proiectele mele</div>
  </div>

  {
    proiecte.map(({ title, img, desc, url, badge }) => {
      return (
        <>
          <HorizontalCard
            title={title}
            img={img}
            desc={desc}
            url={url}
            badge={badge}
          />
          <div class="divider my-0" />
        </>
      );
    })
  }
</BaseLayout>
