---
import Image from "astro/components/Image.astro"
import type { ImageMetadata } from "astro"

interface Props {
	image: ImageMetadata
}


---

<div class="rounded-xl bg-base-300 h-fit w-[80vh] mx-auto mt-28 mb-14 flex flex-col border border-accent shadow-xl">  

  <div
      class="avatar transition ease-in-out w-1/4 block hover:scale-[102%] m-auto mt-[-14%] rounded-full border-accent border-4 "
  >
    <div>
      <Image 
		loading="eager" 
		src={Astro.props.image} 
		alt="Yehoward Rudenco" 
		class="mask mask-circle" />
    </div>

  </div>

	<div class="mx-10 mb-6 mt-5">
		<slot></slot>
	</div>
	

  </div>
