---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*/*.{jpeg,svg,jpg,png,gif,webp}');

function assimage(image: string){
  if (!images[image]) return false;
  return true
}
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img &&( assimage(img) ? (
          <Image
            loading="eager"
            src={images[img] ()}
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
            width={700}
            height={400}
          />
      )
      :
      (
          <Image
            loading="eager"
            src={img}
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
            width={700}
            height={400}
          />
        ))
}
      <div class="grow w-full">
        <div class="items-center">
          <h1 class="inline-block text-xl font-bold" set:html={title} />
          {badge && <div class="badge badge-secondary mx-2 font-bold">{badge}</div>}
        </div>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => <div class="badge badge-outline">{tag}</div>)
          }
        </div>
      </div>
    </div>
  </a>
</div>
