---
import {Image} from "astro:assets";
import profile_photo from "/src/assets/dear-deer.webp"

import Contact from "./Contact.astro";
---

<div class="drawer-side bg-base-200">
  <label for="my-drawer" class="drawer-overlay bg-base-200"></label>
  <div class="menu flex flex-col flex-nowrap p-4 overflow-y-auto w-[21rem] bg-base-200 text-base-content">
    <div class="w-fit">
      <a href="/">
        <div class="avatar transition ease-in-out w-1/2 hover:scale-[102%] block m-auto mt-3 mb-6">
          <div>
            <Image class="mask mask-circle" src={profile_photo} width={400} alt="profile image"/>
          </div>
        </div>
      </a>
    </div>
    <ul class="grow shrink">
      <!-- Sidebar content here -->
      <li><a id="home" href="/">Acasă</a></li>
      <li><a id="projects" href="/projects">Proiecte</a></li>
      <li><a id="blog" href="/blog/">Wlog</a></li>
      <li><a id="cv" href="/cv">CV</a></li>
      <li><label for="my_modal_6" >Contact</label></li>

    </ul>
    <div class="social-icons px-4 my-2 flex self-center">
      <a href="https://codeberg.org/YeRudIT" target="_blank" class="mx-3" aria-label="Codeberg" title="Codeberg">
        <i class="nf nf-linux-codeberg w-24 h-24 text-xl"></i>
      </a>

      <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: currentColor;transform: ;msFilter:;"
          ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>
    </div>
  </div>
</div>
<!-- Put this part before </body> tag -->
<input type="checkbox" id="my_modal_6" class="modal-toggle" />
<div class="modal flex justify-center" role="dialog">
    <Contact image={profile_photo}>
  <div class="">
    <div class="text-center">
      <div>
        <div class="btn btn-accent btn-xs btn-outline normal-case mb-2">
          <a 
            href="mailto:yehowardtudenco@gmail.com" 
          >
            <i class="nf nf-md-email"></i> E-Poșta
          : rudencoyehoward@gmail.com
          </a>
        </div>
      </div>

      <div>
        <div class="btn btn-secondary btn-xs btn-outline normal-case">
          <a href="https://t.me/YeRudITea" >
            <i class="nf nf-fa-telegram"></i> Telegram
          : @YeRudITea
          </a>
        </div>
      </div>
    </div>
  </div>
    <div class="modal-action">
      <label for="my_modal_6" class="btn">Close!</label>
    </div>
</Contact>
</div>
<script>
  const homeLink = document.getElementById("home");
  const projectsLink = document.getElementById("projects");
  const servicesLink = document.getElementById("services");
  const storeLink = document.getElementById("store");
  const blogLink = document.getElementById("blog");
  const cvLink = document.getElementById("cv");

  var isHome = true;

  const url = window.location.href;

  const pages = [projectsLink, servicesLink, storeLink, blogLink, cvLink];

  const activeClass = "bg-base-300"; // For primary color replace with `active` class

  pages.forEach((elem) => {
    if (url.includes(elem.id)) {
      isHome = false;
      elem.classList.add(activeClass);
    }
  });
  if (isHome) {
    homeLink.classList.add(activeClass);
  }
</script>
