---
import type { BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export interface Props extends BlogSchema {}

const { title, description, pubDate,includeMatex, updatedDate, heroImage, badge } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/coperte/*.{jpeg,svg,jpg,png,gif,webp}');

function assimage(image: string){
  if (!images[image]) return false;
  return true
}
---

<BaseLayout includeMatex={includeMatex} title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {heroImage &&
        (assimage(heroImage) ?
          <Image loading="eager" src={images[heroImage] ()} alt={title} class="w-full mb-6" /> 
        : <img src={heroImage} alt={title} class="w-full mb-6">
      )}
      <h1 class="title my-2 text-4xl font-bold" set:html={title}></h1>
      {pubDate && <time>{displayDate}</time>}
      <br>
      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
